* {
    box-sizing: border-box;
}

.background-wrapper {
    width: 100%;
    background-color: #ccc8c8;
}

main {
    max-width: 500px;
    width: 100%;
}

section {
    border: 1px solid violet;
    height: 175px;
}

@media screen and (min-width: 501px) {
    main {
        background-color: darkcyan;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    main {
        background-color: rebeccapurple;
        margin: 0;
    }
}

